@import 'material-icons-font/material-icons-font.css';
@import 'material-components-web/dist/material-components-web.css';

@import 'spectre.css/src/_variables.scss';
@import 'spectre.css/src/_tooltips.scss';

body {
  font-family: Roboto, sans-serif;
}

.app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: auto;

  button {
    margin: 3px;
  }
}

.container {
  max-width: 1200px;
  margin: 5em auto 0 auto;
  padding: 0 1em;
}

.container-full {
  margin: 5em auto 0 auto;
  padding: 0 1em;
}

.container-slim {
  max-width: 500px;
  margin: 5em auto 0 auto;
  padding: 0 1em;
}

.success {
  color: #27AE00 !important;
}

.warning {
  color: #FF9C00 !important;
}

.error {
  color: #FF2E2E !important;
}

a {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.align-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.full-width-text-field {
  display: block;
  width: 100%;
  margin: 1.5em auto;
}

.mdc-text-field__text {
  bottom: 0.3em !important;
}

.mdc-dialog__body--scrollable {
  overflow-y: auto !important;
}

.mdc-dialog__body--big {
  @media (min-height: 650px) {
    max-height: none !important;
  }
}

.material-icons.headline-icon {
  position: relative;
  top: 0.2em;
}

.c-hand {
  cursor: pointer;
}

.float-right {
  float: right;
}

.flex-align-center {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  border-radius: 0.5em;
  padding: 0.3em;
  margin: 0 0.2em;
  font-size: 0.8em;

  &.shifted-left {
    margin: 0 0.4em 0 -0.5em;
  }
}

.textfield-clear {
  cursor: pointer;
  margin-left: -3em;
}
