span.task-chunk {
  display: block;

  min-height: 3.5em;

  background: #d0f5ff;

  margin: 0.3em 0;
  padding: 0.2em;
}

span.task-chunk.finished {
  background: #a4ffa0;
}

span.task-chunk.overdue {
  background: #ffb0a4;
}
