span.task-chunk {
  display: block;

  min-height: 4.5em;

  background: #d0f5ff;

  margin: 0.3em 0;
  padding: 0.2em;

  &.finished {
    background: #a4ffa0;
  }

  &.overdue {
    background: #ffb0a4;
  }

  &.highlighted {
    animation: 0.4s blink infinite alternate;

    @keyframes blink {
      to {
        background: #ffce1f;
      }
    }
  }

  .chunk-title {
    font-weight: bold;

    display: inline-block;
    width: calc(100% - 6em);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .labels {
    margin-top: 0.5em;
    white-space: nowrap;
  }

  .action {
    .material-icons {
      width: 0.9em;
      font-size: 1.15em;
    }

    &.has-task-notes {
      color: #989100;
    }

    &.has-chunk-notes {
      color: #DBD200;
    }

    &.has-task-notes.has-chunk-notes {
      color: #69C800;
    }
  }
}
