span.task-chunk {
  display: block;

  min-height: 3.5em;

  background: #d0f5ff;

  margin: 0.3em 0;
  padding: 0.2em;

  &.finished {
    background: #a4ffa0;
  }

  &.overdue {
    background: #ffb0a4;
  }

  &.highlighted {
    animation: 0.4s blink infinite alternate;

    @keyframes blink {
      to {
        background: #ffce1f;
      }
    }
  }

  .chunk-title {
    font-weight: bold;

    display: inline-block;
    width: calc(100% - 5em);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
