<!DOCTYPE html>
<html
  <% if (process.env.NODE_ENV === 'production') { %>
  manifest="manifest.appcache"<% }
  %>
>
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, user-scalable=no">

    <title>TodoScheduler</title>
  </head>
  <body>
    <div id="app">
      <h1>
        TodoScheduler
      </h1>
      <p>
        TodoScheduler helps you to manage your tasks and schedule them for specific days.
        This maximizes your productivity and makes sure that you do not loose the overview of the things that you need to attend to.
      </p>
      <p>
        Hang tight, we are getting TodoScheduler ready …
      </p>
      <h4>
        If you are <em>still</em> seeing this message …
      </h4>
      <p>
        … make sure that you are using a supported browser and have JavaScript enabled.
        We support all major browsers at least in the most recent version: Firefox, Chrome, and Safari.
      </p>
    </div>
  </body>
</html>
